* text=auto eol=lf

/.docker            export-ignore
/.github            export-ignore
/app                export-ignore
/bootstrap          export-ignore
/config             export-ignore
/database           export-ignore
/domain             export-ignore
/tests              export-ignore
/.editorconfig      export-ignore
/.env.example       export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/box.json           export-ignore
/composer.lock      export-ignore
/dime               export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
/pint.json          export-ignore
/rector.php         export-ignore